/* Carousle*/
.my-carousel {
padding = 0;
}

.my-carousel .carousel-inner {
display: flex;
max-height: 500px;
}

.my-carousel .carousel-item img {
object-fit: cover;
}

.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}


#blogtitle {
    font-size: 6rem;
}

@media (min-width: 480px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

.row .row-cols-1 {
padding:0
}